<html>

<head>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body class="container blue darken-4">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems, options);
		});

		// Or with jQuery

		$(document).ready(function () {
			$('select').formSelect();
		});
	</script>
	<h3 class="center orange-text">LOGIN</h3>
	<div class="container" style="padding-top: 5%;">
		<div class="card">
			<div class="card-content">
				{{#each questions}}
				{{text}}
				<select class="skillLevel" id="{{_id}}">
					<option value="" disabled selected>Choose your option</option>
					{{#each questionChoices}}
					<option value="{{_id}}_{{../_id}}">{{option}}</option>
					{{/each}}
				</select><br><br>
				{{/each}}
				{{!-- <label>Materialize Select</label> --}}
				<button class="btn yellow black-text" id="question_btn">SUBMIT</button>
			</div>
		</div>
	</div>

	<script>
		var answers = [];

		$("#question_btn").click(function (e) {
			e.preventDefault();
			$("#question_btn").prop('disabled', true);
			$("select.skillLevel").each(function () {
				answers.push(this.value);
			});
			console.log(answers);
			$.ajax({
				type: "POST",
				url: "/question/submit",
				data: {
					answers: answers
				},
				success: function (data) {
					window.location.href ="/users/profile";
				}
			});
		});
	</script>

</body>

</html>